@use './abstracts/abstracts';
@use './base/base';
@use './components/components';
@use './layout/layout';
@use './pages/pages';
@use './themes/themes';
@use './vendors/vendors';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    border: 5px solid purple;
    border-radius: 10px;
    padding: 16px;   
    margin-bottom: 32px; 
}

.primeraCelda {
    background-image: linear-gradient(to left, rgb(175, 83, 189), rgb(76, 76, 227));
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.263);
    border-radius: 5px;
    font-size: 16px;
}

.bordeIzq {
    background-color: rgb(76, 76, 227);
}

.bordeSup {
    background-color: rgb(175, 83, 189);
}

h1 {
    font-family: "Comic Neue";
    font-size: 44px;
    color: purple;
    text-align: center;
    margin-bottom: 1rem;
}

.instrucciones {
    border: 5px solid rgb(0, 128, 41);
    margin-bottom: 2rem;
    padding: 16px;
    border-radius: 10px;
}

.instrucciones > p {
    font-family: "Coming Soon";
    font-size: 1.3rem;
    margin-bottom: 10px;
}

ul {
    font-family: "Coming Soon";
    font-size: 18px;
    margin-top: 24px;
}
.mensaje {
    margin: 16px;
    font-size: 16px;
}

.contador {
    font-family: "Coming Soon";
    font-size: 1.5rem;
}

#displayContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}